body {  
       background-color:pink:
color:brown;}
body {
font-family:times new roman;}
	p {
	color: green;}
	
	ol {background-color:cyan;
	border: solid 2px;
	border-color:red;
	border-top-style: dotted;
	border-bottom-style: dashed:
	padding-top: 5px}
	
 